body {
  background-color: rgb(30, 30, 30);
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
}

img {
  border-radius: 50%;
  background: #242424;
  box-shadow: 26px 26px 52px #1f1f1f, -26px -26px 52px #292929;
}
.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  height: auto;
  max-width: 150px;
}
