@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
body {
  background-color: rgb(30, 30, 30);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./assets/bgc2.jpg");
  background-position: center top;
  background-size: 100% auto;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #fff;
  font-family: "Roboto", "Open Sans";
  font-size: 15px;
  letter-spacing: 2px;
}
.container {
}
img {
  border-radius: 50%;
}
.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  height: auto;
  max-width: 150px;
  animation-name: imageY, fadeInFromNone;
  animation-duration: 2s;
}
.profile-name {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 30px;
  font-size: 1.5rem;
}
.bio {
  text-align: center;
  padding: 30px;
}

.links {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid white;
  border-width: 2px;
  width: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

a {
  text-decoration: none;
  color: white;
  transition: color 1.2s;
}

a:hover {
  color: #000;
  background: #fff;
}

.bottom-text {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 30px;
  font-size: 0.5rem;
}
.logo-bottom {
  max-height: 7px;
  border-radius: 5px;
}

.logo-top {
  padding: 30px;
  max-height: 80px;
  border-radius: 0px;
  animation-name: imageY, fadeInFromNone;
  animation-duration: 2s;
}

@keyframes imageY {
  from {
    transform: translateY(20%);
  }
  to {
    transform: translateY(0%);
  }
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
