* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./assets/bgc2.jpg");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #fff;
  font-family: "Roboto", "Open Sans";
  font-size: 15px;
  letter-spacing: 2px;
  color: #fff;
  /* overflow: scroll; */
  background-size: cover;
  animation: fadeInFromNone 1s ease-out both;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

img {
  border-radius: 50%;
}
.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  height: auto;
  max-width: 150px;
  animation-name: imageY, fadeInFromNone;
  animation-duration: 2s;
  opacity: 0;
  animation-delay: 6s;
  animation-fill-mode: forwards;

  /* opacity: 0;

  animation: fadeIn, imageY 3s;
  animation-delay: s;
  animation-fill-mode: forwards; */
}
.profile-name {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 30px;
  font-size: 1.5rem;
}
.bio {
  text-align: center;
  padding: 30px;
  animation-name: imageY2, fadeInFromNone;
  animation-duration: 3s;
  opacity: 0;
  animation-delay: 8s;
  animation-fill-mode: forwards;
  font-weight: bold;
}
/* .container_links{
  animation-name: fadeInFromNone;
  animation-duration: 3s;
  opacity: 0;
  animation-delay: 7s;
  animation-fill-mode: forwards;

} */

.links {
  text-align: center;
  padding: 1.75em 2.75em;
  border: 1px solid rgb(110, 110, 110);
  border-width: 2px;
  width: 25%;
  display: block;
  margin: 20px auto 0;
  border-radius: 15px;
  animation: fadeInFromNone 10s ease-out both;
  overflow-x: hidden;
  font-weight: bold;
}

#left {
  animation: linksX 1s ease-out both;
  animation-delay: 9s;
}

#right {
  animation: linksX2 1s ease-out both;
  animation-delay: 9s;
}

.spotify {
  animation: fadeInFromNone 7s;
  opacity: 0;
  animation-delay: 9s;
  animation-fill-mode: forwards;
}
.container_links {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
  transition: color 1s;
}

a:hover {
}
.links:hover {
  text-align: center;
  padding: 1.75em 2.75em;
  border: 1px solid rgb(255, 255, 255);
  border-width: 2px;
  color: #000;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 8px 32px 0 rgba(80, 80, 80, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: block;
  margin: 20px auto 0;
  border-radius: 15px;
  animation: fadeInFromNone 10s ease-out both;
  transition: 0.5s;
}
.bottom-text {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 30px;
  font-size: 0.5rem;
  animation-name: imageY, fadeInFromNone;
  animation-duration: 10s;
  opacity: 0;
  animation-delay: 10s;
  animation-fill-mode: forwards;
  font-weight: bold;
}
.logo-bottom {
  max-height: 7px;
  border-radius: 5px;
  animation-name: imageY, fadeInFromNone;
  animation-duration: 10s;
  opacity: 0;
  animation-delay: 10s;
  animation-fill-mode: forwards;
}

.logo-top {
  /* padding: 30px; */
  max-height: 25%;
  border-radius: 0px;

  animation-name: imageY, fadeInFromNone;
  animation-duration: 4s;
  opacity: 0;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}

/* .vid {
  position: absolute;
  left: 50%;
  top: 50%;
  /* The following will size the video to fit the full container. Not necessary, just nice.*/
/* min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 0;
} */

.hi {
  font-family: "Righteous", cursive;
  text-align: center;
  opacity: 1;
  /* color: #fff;
  display: grid
place-items: center */
  /* display: none; Hidden by default */
  position: absolute;
  /* z-index: 100; Sit on top */
  /* padding-top: 100px; Location of the box */
  left: 0px;
  top: 0px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOutFromFull 1s ease-out both;
  animation-delay: 5s;
}

@keyframes imageY {
  from {
    transform: translateY(20%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes imageY2 {
  from {
    transform: translateY(10%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes linksX {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes linksX2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@-webkit-keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOutFromFull {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOutFromFull {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOutFromFull {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOutFromFull {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 599px) {
  .logo-top {
    max-width: 75%;
  }
  .links {
    width: 75%;
    padding: 1em 2em;
  }
}
@media only screen and (min-width: 600px) {
  .logo-top {
    max-width: 65%;
  }
  .links,
  .links:hover {
    width: 70%;
    padding: 1.25em 2.25em;
  }
}
@media only screen and (min-width: 900px) {
  .links,
  .links:hover {
    width: 50%;
    padding: 1.25em 2.25em;
  }
}
@media only screen and (min-width: 1200px) {
  .links,
  .links:hover {
    width: 25%;
    padding: 1.5em 2.5em;
  }
}
@media only screen and (min-width: 1800px) {
  .links,
  .links:hover {
    width: 25%;
    padding: 1.75em 2.75em;
  }
}
